.btn {
  font-weight: 700;
  font-size: 2.2rem;
  border: none;
  background-color: var(--dark-red);
  color: white;
  align-self: flex-start;
  padding: 0.8rem 1.6rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--normal-red);
}
