.cartItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.itemImage {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  gap: 0.5rem;
}

.itemName {
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.others {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityControl {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.total {
  font-size: 1.6rem;
  width: 2.5rem;
  text-align: center;
  font-weight: 500;
}

.totalBill {
  font-size: 1.8rem;
  font-weight: bold;
  color: #444;
}
