.cartListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 800px;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.cartListContainer::-webkit-scrollbar {
  width: 8px;
}

.cartListContainer::-webkit-scrollbar-track {
  background: transparent;
}

.cartListContainer::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.cartListContainer::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.nothing {
  font-size: 2.4rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin-top: 25vh;
}
